
// Greyscale
$white: #fff;

$grey-50: #F9FAFB;
$grey-100: #F3F4F6;
$grey-200: #E5E7EB;
$grey-300: #D1D5DB;
$grey-400: #9CA3AF;
$grey-500: #6B7280;
$grey-600: #4B5563;
$grey-700: #374151;
$grey-800: #1F2937;
$grey-900: #111827;

// Colors
$aqua: #6EE7B7;
$cyan: #60efff;

// Blue
$blue-50: #EFF6FF;
$blue-100: #DBEAFE;
$blue-200: #BFDBFE;
$blue-300: #93C5FD;
$blue-400: #60A5FA;
$blue-500: #3B82F6;
$blue-600: #2563EB;
$blue-700: #1D4ED8;
$blue-800: #1E40AF;
$blue-900: #1E3A8A;

// Green
$green-50: #ECFDF5;
$green-100: #D1FAE5;
$green-200: #A7F3D0;
$green-300: #6EE7B7;
$green-400: #34D399;
$green-500: #10B981;
$green-600: #059669;
$green-700: #047857;
$green-800: #065F46;
$green-900: #064E3B;

// Red
$red-50: #FEF2F2;
$red-100: #FEE2E2;
$red-200: #FECACA;
$red-300: #FCA5A5;
$red-400: #F87171;
$red-500: #EF4444;
$red-600: #DC2626;
$red-700: #B91C1C;
$red-800: #991B1B;
$red-900: #7F1D1D;

// Styled colors
$blue-dark: #05386b;
$green-dark: #379683;
$green: #5cdb95;
$green-pale: #8ee4af;
$cream: #edf5e1;

// Gradients
$gradient-aqua-cyan: linear-gradient(to left, $aqua, $cyan);